.custom-show-hide-example h3 {
  padding: 10px 20px;
  color: #44a596;
  font-size: 13px;
}

h3 a {
  display: block;
  padding: 10px 20px;
  color: #44a596 !important;
  font-size: 13px;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
}
h3 a:hover{
  text-decoration: none;
}
h3+div {
  display: none;
}

/* CSS3 Animation example
--- */
#css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}
#css3-animated-example .content {
  padding: 10px;
}

#css3-animated-example h3.open + div {
  height: auto;
}

/* Event example
--- */
pre#event-log {
  background: #fafacc;
  padding: 10px;
  display: block;
}